<!DOCTYPE html>
<html>
  <head>
    <title>TP Node</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
  </head>
  <body>
    <h1>TP Students</h1>
    <form method="POST">
      <div class="form-row">
        <label>Name:</label>
        <input type="text" id="name" name="name" required><br />
      </div>
      <div class="form-row">
        <label>Birthdate:</label>
        <input type="date" id="birth" name="birth" required><br />
      </div>
      <button type="submit">Add Student</button>
    </form>
  </body>
</html>
